<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>
<body>
  <header>
      <% include ./partials/_header %>
  </header>
  <main style="margin: 1em;">
    <h3>Login</h3>

    <form class="form" action="/login" method="POST">
      <div class="form-group mb-2">
        <label for="email">Email address</label>
        <input class="form-control" type="text" name="email" placeholder="Enter email" style="width: 300px; margin: 0px 50px 25px 0px">
        <label for="password">Password</label>
        <input class="form-control" type="text" name="password" placeholder="Password" style="width: 300px; margin: 0px 50px 25px 0px">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>

  </main>
</body>
</html>